/* default color: #fa6a2e  */
.bg-color_a1c6044e4f0ed006,
section.bg-color_a1c6044e4f0ed006,
section.call-to-action_a78f722760316f4c,
.btn-main_2b814c19080f406b,
#mainmenu li li a.menu-item_2f7723a7ee732da6:hover,
#mainmenu ul li:hover>a.menu-item_2f7723a7ee732da6,
.price-row_e0c3963511fefaf0,
.slider-info_f4142b887cbe0f16 .text1_1b66a28303eaf898,
.btn-primary_aeb30014eae793d1,
.bg-id-color_27d2d97e9ac339e4,
.dropcap_e5c96fca67367048,
.fullwidthbanner-container_1fbccce6adb973b0 a.btn,
.feature-box-big-icon_9e4db2a549c06f5c i,
#testimonial-full,
.icon-deco_5599afa07fdbf425 i,
.feature-box-small-icon_9a5bc6d61d846c70 .border_afdcb98960e4dc3b,
.date-post_05c5d19df535aaf2,
.team-list_7c9d3a07bba5fe54 .small-border_60e3dc2e4d99100d,
.de-team-list_2625b2b001535d7d .small-border_60e3dc2e4d99100d,
.owl-arrow_81680ee7374ae2ad span,
.de-progress .progress-bar,
#btn-close-x:hover,
.box-fx_889f2df63ed4a90e .info,
.btn-more_ac9292d1c9e8ae19,
.widget_125a69ddee6c1a4e .small-border_60e3dc2e4d99100d,
.product_4b344598ae0f4e24 img:hover,
#btn-search,
.de_tab.timeline_2bdcc1412b1049ed li.active .dot_7560006787d87c65,
.btn-id_ff0674ee9639a57b,
.tiny-border_5dc1e4600f1f06e7,
#subheader .small-border-deco_1a9f7372dc567e9d span,
#services-list li a:hover,
#form_subscribe #btn-subscribe i,
.timeline_2bdcc1412b1049ed .tl-block_87a520c5db054674 .tl-line_77129efe1ee5d233,
.de_tab.tab_style_2_6e962e7b84897dde .de_nav li.active span,
.de_tab.tab_methods_faf558bfc632c99c.style-2_64cc71095f7f3411 .de_nav li.active span,
.feature-box-small-icon_9a5bc6d61d846c70.style-2_64cc71095f7f3411 .number.bg-color_a1c6044e4f0ed006,
.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before,
.timeline_2bdcc1412b1049ed>li>.timeline-badge_cdd494b4c6a09ab4,
.de_light_eeb8f50103c51344 .de_tab.tab_style_3_c2bb3cf4bda51ae3 .de_nav li.active span,
.de_tab.tab_style_4_7610aa4414d9f30d .de_nav li.active span,
.circle_f29e04eb33614e9a,
.social-icons-sm_f67ad4490743e49c i:hover,
.btn-rsvp_751ca978e3dee652,
.pricing-table_2174a19c5a95cc15 .ribbon_9befafb22fb85095,
.de_tab.tab_style_4_7610aa4414d9f30d .de_nav li.active,
#preloader .s1_7d01301e55d98706 span,
#filters a.selected,
.custom-show_ae039e8317e4859e:after,
.custom-close_b70e9f1822cd03d4:after,
.widget-post_edfcba4d51d8aa7e .date_fb74300c60d84539,
.style-2_64cc71095f7f3411 .date-box_d48cb14e1e8e128a,
.d-card_7d62af05e6a1318b i,
#form_subscribe #btn-submit i,
.bg-gradient-to-right-2_d0f9ba0087912bcb,
.d-card_7d62af05e6a1318b.hover i,
.d-card_7d62af05e6a1318b:hover i,
.ribbon_9befafb22fb85095,
.box-icon-simple_808342d1ec01ba01 .num_b647fcd0b9d2127f,
.feature-box_f2d5b0d317ff5781.f-boxed_e5bda5bf863b9608:hover,
.fpw-overlay-btm_5167956137d73c9d,
.fp-wrap_0fcc563d216623aa .fpwow-icons_776af4c9d5c7bd7e,
.owl-item.active.center .feature-box-type-2_c3bd59c9ed87571f,
.testimonial-color_94a697a0f04c5b9d .item:nth-child(1n) blockquote:before,
.spinner_5b2146a3f0fe6aa2>div,
.d-gallery-item_69ec82591b6786a3 .dgi-1_24185afb0f32e2b8,
a.btn-border_0c631e09eb973299:hover,
.dih-overlay_1238248711314a4a,
.widget_tags_32d95086af323521 li a,
.nav-pills_0c91fe8c018d4ba1 .nav-link.active,
.nav-pills_0c91fe8c018d4ba1 .show>.nav-link,
#cookieConsent a.cookieConsentOK,
.mask_e6832c2189c83e0b .cover,
.icon-box_e47c90e2b4b50567:hover,
.feature-box_f2d5b0d317ff5781.f-boxed_e5bda5bf863b9608.invert,
.text-light_b58789b0fdfd2f17 .container-timeline_344baa36b80a838a ul li::before,
.text-light_b58789b0fdfd2f17 .de_countdown,
.text-light_b58789b0fdfd2f17 .dropdown li span,
#selector #dark-mode,
#selector #related-items,
.dropdown li span:hover,
.de-event-item_f5cfce5e54428b06 .d-date_d7bd0c7042b02df2,
.switch_78177e4ed8107a09,
h5 span.label,
.lds-roller_eae500cd45192dd9 div:after,
.de_pricing-table_d59d95a10e3a9302 .d-list_70db182587f653bb li:before,
.ul-style-4_69e02c520750ab64 li:before,
#mainmenu ul li b,
h1.s2_050cc19f29410495 .c1_573acc9839861b1c span,
.d-arrow-left,
.d-arrow-right,
.de-marquee-list .d-item-block_07e612c2806b8056,
.scrollbar,
.d_demo_img .d-overlay_a2f7e71303fc11d9 span,
.owl-dot_e852ff8c1745a3f9.active,
body::-webkit-scrollbar-thumb,#de_modal::-webkit-scrollbar-thumb
 {
    background:var(--primary-color);
}
::-moz-selection { /* Code for Firefox */
    color:#ffffff;
    background:var(--secondary-color);
}

::selection {
    color:#ffffff;
    background:var(--secondary-color);
}

#back-to-top,
.btn-line_fcb52e1c8d5c98c7:hover,
a.btn-line_fcb52e1c8d5c98c7:hover,
.btn-main_2b814c19080f406b.bg-color_a1c6044e4f0ed006,
.de-marquee-list .d-item-block_07e612c2806b8056.bg-color_a1c6044e4f0ed006{
    background: var(--primary-color);
}

.id-color_c615260b82264ef8,
.date-box_d48cb14e1e8e128a .day,
.slider_text_5079e878ee4b1dc2 h1,
h1.id-color_c615260b82264ef8,
h2.id-color_c615260b82264ef8,
h3.id-color_c615260b82264ef8,
h4.id-color_c615260b82264ef8,
.pricing-box_5cbe64e636de163f li h1,
.title span,
i.large_31cfa3baf9030743:hover,
.feature-box-small-icon-2_dc0f982595027fce i,
.pricing-dark_262af98a909bdf1f .pricing-box_5cbe64e636de163f li.price-row_e0c3963511fefaf0,
.ratings_90fa1052607c3480 i,
header.smaller #mainmenu a.menu-item_2f7723a7ee732da6.active,
.pricing-dark_262af98a909bdf1f .pricing-box_5cbe64e636de163f li.price-row_e0c3963511fefaf0,
.dark .feature-box-small-icon_9a5bc6d61d846c70 i,
a.btn-slider_763bbcb5bb68fd60:after,
a.btn-line_fcb52e1c8d5c98c7:after,
.team-list_7c9d3a07bba5fe54 .social_30ca1ecd03f08ac8 a,
.de_contact_info_2cd89f93551b5619 i,
.dark .btn-line_fcb52e1c8d5c98c7:hover:after,
.dark a.btn-line_fcb52e1c8d5c98c7:hover:after,
.dark a.btn-line_fcb52e1c8d5c98c7.hover:after,
a.btn-text_ed8a94611aee5fb6:after,
.separator_fb18a884b708c43c span i,
address span strong,
.widget_tags_32d95086af323521 li a,
.dark .btn-line_fcb52e1c8d5c98c7:after,
.dark a.btn-line_fcb52e1c8d5c98c7:after,
.crumb_90b747c7a6c4ea1a li .active,
.btn-right_c2c0348ac51d961f:after,
.btn-left_3bf0bad1f830ae10:before,
#mainmenu li a.menu-item_2f7723a7ee732da6:after,
header .info .social_30ca1ecd03f08ac8 i:hover,
#services-list li.active,
#services-list li.active a:after,
.testimonial-list_112634cc67abdaf6:before,
span.deco-big_fb4a5b7e3bb7792e,
h2.hs1_085661c0496ecaea span,
.blog-list_9276b20a9ec1c33d .date-box_d48cb14e1e8e128a .day,
.social-icons-sm_f67ad4490743e49c i,
.de_tab.tab_style_4_7610aa4414d9f30d .de_nav li span,
.de_testi_1d6bf7be166587e4.opt-2 blockquote:before,
.profile_pic_eeb57d364575b876 .subtitle_f2b94c432f76c1f3,
.countdown-s3_b1a339e269a38f40 .countdown-period_2c46cfc5bbfb2933,
.countdown-s4_ac4586beb607c50e .countdown-period_2c46cfc5bbfb2933,
a.btn-link_561abb799a81f310,
blockquote.s1_7d01301e55d98706:before,
.accordion_ead2f99dd654d973 a:before,
.expand-custom_9efc0faf3460890e .toggle:before,
.sitemap_a71a939368a5da85.s1_7d01301e55d98706 li:before,
.list_b20701eeb07f666b li:before,
.post-meta_e24dabe9f095d294 span:before,
.mask_e6832c2189c83e0b .cover .date_fb74300c60d84539:before,
.pricing-s2_2a714297f542d90b .bottom i,
.post-text_29e831be2e3c4068 h3 a:hover,
.demo-icon-wrap_c721ca8c84fe5347 i,
.demo-icon-wrap-s2_80c70120142245d2 span,
a.btn-border_0c631e09eb973299.light_85073878ad936429:hover,
.de_testi_1d6bf7be166587e4.opt-2.review_02f1bd9fabad8af9 .p-rating_79f1c98812ffae76,
.p-title_b2ea0bf332e10977,
.h-phone_ffffdb785e80620a i,
a.btn-main_2b814c19080f406b.btn-white_7b7a7314b4e8a9e0,
a.bc-btn_ebe56884e9be7104,
.de_tab .de_nav li span,
.nav-link, .nav-link:focus, .nav-link:hover,
.pricing-table_2174a19c5a95cc15 .bottom i,
.topbar-widget_92b85ce1f45b5c77 a span,
.de-icon_27c76846f826ba22,
a#cookit-link {
    color: var(--primary-color);
}


a,
a:hover,
footer .widget_125a69ddee6c1a4e a:hover,
.id-color-2_f904993528958169,
.id-color-secondary_dd93d282ddbd7f1a,
span.id-color-2_f904993528958169,
.icon-box_e47c90e2b4b50567 i,
.h-phone_ffffdb785e80620a i.id-color-secondary_dd93d282ddbd7f1a,
.mask_e6832c2189c83e0b:hover .cover h3 i,
address.s1_7d01301e55d98706 span i,
.de_table_67fbc56131ad484b .tr .td:nth-child(2) span,
.activity-filter i,
.dark-scheme_74a1724d6193afa0 .demo-icon-wrap_c721ca8c84fe5347 i,
.dark-scheme_74a1724d6193afa0 .demo-icon-wrap-s2_80c70120142245d2 span,
.de_tab .de_nav li span,
.dark-scheme_74a1724d6193afa0 .small-border_60e3dc2e4d99100d,
.profile_username_5a2a1e49dd4d86d8,
.de_tab.tab_methods_faf558bfc632c99c .de_nav li.active span img,
.accordion-button_df2cf362e1a8b1a1:not(.collapsed),
.ul-style-2_592db58e612b5b0c li:before,
.pricing-table_2174a19c5a95cc15.table-featured_651e93fc7910d2d4 .bottom i,
.schedule-item_461ff3adfaf5e122 .sc-name_d8cef3eedc7a6d7c
{
    color: var(--secondary-color);
}


.bg-color-2_ac7a255841932deb,
.bg-color-secondary_b63eaad5c85d38d6,
section.bg-color-2_ac7a255841932deb,
section.bg-color-secondary_b63eaad5c85d38d6,
.timeline_2bdcc1412b1049ed h5,
.testimonial-color_94a697a0f04c5b9d .item:nth-child(2n) blockquote:before,
a.btn-main_2b814c19080f406b.bg-color-2_ac7a255841932deb,
a.btn-main_2b814c19080f406b.invert,
#mainmenu li li a.menu-item_2f7723a7ee732da6:hover,
#mainmenu ul li:hover>a.menu-item_2f7723a7ee732da6,
.icon-box_e47c90e2b4b50567.invert:hover,
#jpreBar,
.t-circle_18c07bbec47b6972,
.author_list_pp_53d2410664b12ef5 i,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.profile_avatar_703df9fd0aee30b3 i,
#btn_copy.clicked,
#form_quick_search #btn-submit i,
.p_list_pp_1b13c49c4c929ce4 i,
.author_list_pp_53d2410664b12ef5 img,
.activity-filter li.active,
.dark-scheme_74a1724d6193afa0 .de_countdown.bg-color-secondary_b63eaad5c85d38d6,
.btn-line_fcb52e1c8d5c98c7.hover,
a.btn-line_fcb52e1c8d5c98c7.hover,
.de_form_5548aaa0b4da2a25 input[type="checkbox"]:checked + label:before,
.coll_list_pp_8e358e50c84e241f i,
#form_sb #btn-submit i,
.de-switch_660b316143ffeb74 input[type=checkbox]:checked + label,
.de-card_dc3eae89113cef49 .de-price_5f06c363cb513435 span,
.de-color-icons_adf541f9d54e44b7 i,
.container-timeline_344baa36b80a838a ul li::before,
.pricing-table_2174a19c5a95cc15.table-featured_651e93fc7910d2d4 .mid_25f451d7e5a60168,
.pricing-table_2174a19c5a95cc15.table-featured_651e93fc7910d2d4 a.btn-main_2b814c19080f406b,
.page-item_b3a25c3897bc4742.active .page-link_a1e2ea534ea1ca13,
.de-marquee-list .d-item-block_07e612c2806b8056.bg-color-2_ac7a255841932deb{
    background: var(--secondary-color);
}

section.dark {
    background: rgba(var(--primary-color-rgb), .98);
}

.feature-box-group_185569b4ee89d369 .d-card_7d62af05e6a1318b i,
.accordion-section-title.active,
.accordion_ead2f99dd654d973.secondary_1ba8565dc55c3a9e .accordion-section-title:before
.d-card_7d62af05e6a1318b i {
    background: var(--secondary-color);
}

.bg-color-3_2d365c4ce29c38ad{
    background: var(--tertiary-color);
}

.bg-gradient-to-right_3cff60b26a68771f,
.post-image_38552921c771d799 .post-info_d29b1565ffe85754 .inner,
.de_table_67fbc56131ad484b.table-style-2_2616143ce382256d:not(.no-heading_75a0b5bac7863931) .tr:first-child,
h1 .label,
a.btn-main_2b814c19080f406b.secondary_1ba8565dc55c3a9e,
header.header-gradient_5f5f25e09a76d0da,
.ribbon_9befafb22fb85095.s2_050cc19f29410495 {
    background: var(--primary-color);
}

.table-pricing_cb77f2e6367e050f thead,
.bg-gradient-to-top-right_534f6cbfcd950193,
.p-tagline_db04c948c58375a6,
h5.title{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.gradient-soft_3436ec3161a206bc {
    background: -moz-linear-gradient(180deg, rgba(var(--primary-color-rgb), 0.125) 0%, rgba(var(--primary-color-rgb), 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(var(--primary-color-rgb), 0.125) 0%, rgba(var(--primary-color-rgb), 0) 100%);
    background: linear-gradient(180deg, rgba(var(--primary-color-rgb), 0.125) 0%, rgba(var(--primary-color-rgb), 0) 100%);
}

.gradient-soft-2_9c25049a9bec3440 {
    background: -moz-linear-gradient(180deg, rgba(var(--primary-color-rgb), 0.2) 0%, rgba(var(--primary-color-rgb), 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(var(--primary-color-rgb), 0.2) 0%, rgba(var(--primary-color-rgb), 0) 100%);
    background: linear-gradient(180deg, rgba(var(--primary-color-rgb), 0.2) 0%, rgba(var(--primary-color-rgb), 0) 100%);
}

.gradient-soft-45_f4b494b3ddca323b {
    background: -moz-linear-gradient(45deg, rgba(var(--secondary-color-rgb), .3) 0%, rgba(var(--primary-color-rgb), .3) 100%);
    background: -webkit-linear-gradient(45deg, rgba(var(--secondary-color-rgb), .3) 0%, rgba(var(--primary-color-rgb), .3) 100%);
    background: linear-gradient(45deg, rgba(var(--secondary-color-rgb), .3) 0%, rgba(var(--primary-color-rgb), .3) 100%);
}

.d-card_7d62af05e6a1318b i,.d-card_7d62af05e6a1318b:hover i{
    background: -moz-linear-gradient(180deg, rgba(var(--primary-color-rgb), 1) 20%, rgba(var(--primary-color-rgb), 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(var(--primary-color-rgb), 1) 20%, rgba(var(--primary-color-rgb), 0) 100%);
    background: linear-gradient(180deg, rgba(var(--primary-color-rgb), 1) 20%, rgba(var(--primary-color-rgb), 0) 100%);
}

#preloader {
    background-image: linear-gradient(to top right, var(--primary-color), var(--secondary-color));
}

.overlay-gradient_de42f22931fc312e {
    background: -moz-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.9) 0%, rgba(var(--primary-color-2-rgb), 0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.9) 0%, rgba(var(--primary-color-2-rgb), 0.9) 100%);
    background: linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.9) 0%, rgba(var(--primary-color-2-rgb), 0.9) 100%);
}

.overlay-gradient_de42f22931fc312e.t80_3c2b1745ec1e0317 {
    background: -moz-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.8) 0%, rgba(var(--primary-color-2-rgb), 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.8) 0%, rgba(var(--primary-color-2-rgb), 0.8) 100%);
    background: linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.8) 0%, rgba(var(--primary-color-2-rgb), 0.8) 100%);
}

.overlay-gradient_de42f22931fc312e.t70_1654f0e2477711dd {
    background: -moz-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.7) 0%, rgba(var(--primary-color-2-rgb), 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.7) 0%, rgba(var(--primary-color-2-rgb), 0.7) 100%);
    background: linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.7) 0%, rgba(var(--primary-color-2-rgb), 0.7) 100%);
}

.overlay-gradient_de42f22931fc312e.t60_84372514b5a9bbbf {
    background: -moz-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.6) 0%, rgba(var(--primary-color-2-rgb), 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.6) 0%, rgba(var(--primary-color-2-rgb), 0.6) 100%);
    background: linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.6) 0%, rgba(var(--primary-color-2-rgb), 0.6) 100%);
}

.overlay-gradient_de42f22931fc312e.t50_9baabc0078860605 {
    background: -moz-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.5) 0%, rgba(var(--primary-color-2-rgb), 0.5) 100%);
    background: -webkit-linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.5) 0%, rgba(var(--primary-color-2-rgb), 0.5) 100%);
    background: linear-gradient(45deg, rgba(var(--primary-color-rgb), 0.5) 0%, rgba(var(--primary-color-2-rgb), 0.5) 100%);
}

.all-timelines_8161c56a89fd6f3e::before {
    background: rgba(var(--secondary-color-rgb), .3);
}

.pricing-table_2174a19c5a95cc15 .bottom i{
    background: rgba(var(--secondary-color-rgb), .2);
}

.activity-list li:after{
    color: rgba(var(--secondary-color-rgb), 1);
}

.item_info_counts_c5a546daa9d49459>div,
.de_table_67fbc56131ad484b .tr .td:nth-child(2) span,
.activity-filter i,
.accordion-button_df2cf362e1a8b1a1:not(.collapsed) {
    background: rgba(var(--secondary-color-rgb), .1);
}

.activity-list li{
    background: rgba(var(--secondary-color-rgb), .07);
}

a.btn-border_0c631e09eb973299.btn-invert_4513c86fb9cb8d6a,
.small-border_60e3dc2e4d99100d,
.icon-box_e47c90e2b4b50567,
#slider-carousel .owl-thumb-item_7e64676073dbc320.active img {
    border-color: var(--primary-color);
}

.de_countdown,
.container-timeline_344baa36b80a838a ul li::before,
.de_tab.tab_methods_faf558bfc632c99c .de_nav li.active span,
.dark-scheme_74a1724d6193afa0 .pagination li.active a{
    border-color: var(--secondary-color);
}

.author_list_pp_53d2410664b12ef5:hover img{
    -webkit-box-shadow: 0px 0px 0px 2px rgba(var(--secondary-color-rgb), 1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(var(--secondary-color-rgb), 1);
    box-shadow: 0px 0px 0px 2px rgba(var(--secondary-color-rgb), 1);
}

.form-border_72fcdf2a68f8399d input[type=text]:focus,
.form-border_72fcdf2a68f8399d textarea:focus,
.form-underline_f7cd91efd38cb4de input[type=email]:focus,
.form-border_72fcdf2a68f8399d input[type=date]:focus,
.form-border_72fcdf2a68f8399d select:focus,
#quick_search:hover,
.items_filter_a16faa6013826d89 .dropdown:hover{
    webkit-box-shadow: 0px 0px 0px 4px rgba(var(--primary-color-rgb), .3);
    -moz-box-shadow: 0px 0px 0px 4px rgba(var(--primary-color-rgb), .3);
    box-shadow: 0px 0px 0px 4px rgba(var(--primary-color-rgb), .3);
}

.container-timeline_344baa36b80a838a ul lifblockquote {
    border-left-color: var(--primary-color);
}

.de_tab.tab_simple_2b677d8e55b1db52 .de_nav li.active span{
    border-bottom-color: var(--primary-color);
}

header #mainmenu a.menu-item_2f7723a7ee732da6 span,
header.transparent #mainmenu a.menu-item_2f7723a7ee732da6 span,
.de-grey_5ea8a681f68bab23 #subheader h1 {
    border-bottom-color: var(--secondary-color);
}

.header-light_79aaf781099f8ba8 #quick_search {
    background: rgba(var(--primary-color-rgb), .1);
}

.box-highlight_451ccf51e320c43a{
    background: rgba(var(--primary-color-rgb), .2);
}

.container-timeline_344baa36b80a838a ul li {
    border-top-color: var(--secondary-color);
}

.line-preloader_fccc66b87d53b056 .p-line_6032d4b03f0e46d5:nth-child(1) {
    border-right-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
}

.line-preloader_fccc66b87d53b056 .p-line_6032d4b03f0e46d5:nth-child(2) {
    border-left-color: var(--secondary-color);
    border-top-color: var(--secondary-color);
}

.line-preloader_fccc66b87d53b056 .p-line_6032d4b03f0e46d5:nth-child(3) {
    border-right-color: var(--secondary-color);
    border-top-color: var(--secondary-color);
}

.de-event-item_f5cfce5e54428b06 .d-shadow_7c8a43b3ad6b4e51{
    border-color: transparent transparent transparent var(--secondary-color);;
}

.bg-color-4_6c12542fd732718f{
    background: var(--quaternary-color);
}

.id-color-4_d60b7c37fbe7f89b{
    color: var(--quaternary-color);
}

.preloader1_7786d0b1a4a354fe {
    width: 60px;
    border-top-color: rgba(var(--primary-color-rgb), 0.65);
    border-bottom-color: rgba(var(--primary-color-rgb), 0.1);
    border-left-color: rgba(var(--primary-color-rgb), 0.1);
    border-right-color: rgba(var(--primary-color-rgb), 0.1);
}
.gradient,
.menu-col_6852d368a447977c li a.active{
    background: -webkit-linear-gradient(45deg,var(--secondary-color) 0%, var(--primary-color) 100%);
    background: -moz-linear-gradient(45deg,var(--secondary-color) 0%, var(--primary-color) 100%);
    background: linear-gradient(45deg,var(--secondary-color) 0%, var(--primary-color) 100%);
}

.text-gradient_2c5dfd54abd0f88f{
    background: -webkit-linear-gradient(45deg,var(--primary-color) 0%, var(--secondary-color) 100%);
    background: -moz-linear-gradient(45deg,var(--primary-color) 0%, var(--secondary-color) 100%);
    background: linear-gradient(45deg,var(--primary-color) 0%, var(--secondary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-soft_3436ec3161a206bc{
background: -moz-linear-gradient(0deg, rgba(var(--primary-color-rgb), .45) 0%, rgba(var(--secondary-color-rgb), 0.25) 100%);
background: -webkit-linear-gradient(0deg, rgba(var(--primary-color-rgb), .45) 0%, rgba(var(--secondary-color-rgb), 0.25) 100%);
background: linear-gradient(0deg, rgba(var(--primary-color-rgb), .45) 0%, rgba(var(--secondary-color-rgb), 0.25) 100%);
}

.menu-col_6852d368a447977c li a{
background: -moz-linear-gradient(45deg, rgba(var(--secondary-color-rgb), 0.2) 0%, rgba(var(--secondary-color-rgb), 0) 100%);
background: -webkit-linear-gradient(45deg, rgba(var(--secondary-color-rgb), 0.2) 0%, rgba(var(--secondary-color-rgb), 0) 100%);
background: linear-gradient(45deg, rgba(var(--secondary-color-rgb), 0.2) 0%, rgba(var(--secondary-color-rgb), 0) 100%);
}

.overlay-bg_7ecbbcf07cff837d{
background: -moz-linear-gradient(0deg, rgba(var(--primary-color-rgb), .45) 0%, rgba(var(--secondary-color-rgb), 0.25) 100%);
background: -webkit-linear-gradient(0deg, rgba(var(--primary-color-rgb), .45) 0%, rgba(var(--secondary-color-rgb), 0.25) 100%);
background: linear-gradient(0deg, rgba(var(--primary-color-rgb), .45) 0%, rgba(var(--secondary-color-rgb), 0.25) 100%);
}

footer.footer-light_f597a403d646068c{
    background: -moz-linear-gradient(45deg, rgba(var(--secondary-color-rgb), .10) 0%, rgba(var(--primary-color-rgb), .10) 100%);
    background: -webkit-linear-gradient(45deg, rgba(var(--secondary-color-rgb), .10) 0%, rgba(var(--primary-color-rgb), .30) 100%);
    background: linear-gradient(45deg, rgba(var(--secondary-color-rgb), .30) 0%, rgba(var(--primary-color-rgb), .30) 100%);
}

.bg-gradient-to-bottom_f34c1c7314468755{
    background: -moz-linear-gradient(180deg, rgba(var(--primary-color-rgb), .35) 0%, rgba(var(--secondary-color-rgb), 0.25) 60%, rgba(var(--secondary-color-rgb), 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(var(--primary-color-rgb), .35) 0%, rgba(var(--secondary-color-rgb), 0.25) 60%, rgba(var(--secondary-color-rgb), 0) 100%);
    background: linear-gradient(180deg, rgba(var(--primary-color-rgb), .35) 0%, rgba(var(--secondary-color-rgb), 0.25) 60%, rgba(var(--secondary-color-rgb), 0) 100%);
}

@media only screen and (max-width: 992px) {
    .table-pricing_cb77f2e6367e050f tbody tr th {
        background: var(--primary-color);
    }

}